In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import multiprocessing as mp
import math

In [22]:
def simulate_geometric_browian_motion(p):
    M, I = p
       # time steps, paths
    S0 = 178.38; r = 0.058; sigma= 0.24; T = 3/12

    dt = T / M
    paths = np.zeros((M + 1, I))
    paths[0] = S0
    for t in range(1, M + 1 ):
        paths[t] = paths[t - 1 ] * np.exp((r - 0.5**sigma ** 2) * dt + sigma * math.sqrt(dt) * np.random.standard_normal(I))
    return paths

In [23]:
paths = simulate_geometric_browian_motion((5, 2))

In [24]:
paths

array([[178.38      , 178.38      ],
       [177.90390325, 166.60026834],
       [163.62990512, 151.43701056],
       [148.92731041, 146.64654612],
       [130.73185849, 139.70462129],
       [123.98679264, 139.31173671]])

In [38]:
S0 = 178.83
T = 126.53
r =0.05
vola = 0.054

In [39]:
M = 1000
dt = T / M
df = np.exp(-r *dt)

In [40]:
 u = np.exp(vola * np.sqrt(dt)) # Up-Movement
 d = 1 /u # Down-Movement
 q = (np.exp(r * dt) -d) / (u - d) #martignale probabilty

In [41]:
q

0.6603907367142511

In [42]:
u

1.019394037676071

In [43]:
d

0.9809749351484496

In [32]:
S = np.zeros(( M + 1, M + 1 ), dtype=np.float64)

In [44]:
def binomial_py(strike):



   S[0, 0] = S0
   z1 = 0
   for j in range(1, M + 1, 1):
       z1 = z1 + 1
       for i in range(z1 + 1):
           S[i, j] = S[0, 0] * (u ** j) * (d ** (i * 2))

    # lOOP2 -Inner value
   iv = np.zeros((M + 1, M + 1 ), dtype=np.float64)
   z2 = 0
   for j in range(1, M + 1 , 1):
       for i in range (z2 + 1):
           iv[i, j ] =max(S[i ,j] - strike, 0)
       z2 = z2 +1
  # LOOP Valuation
   pv = np.zeros((M + 1, M+1), dtype=np.float64)
   pv[:, M] = iv[:, M]
   z3 = M +1
   for j in range(M- 1, -1, -1):
       z3 = z3 -1
       for i in range(z3):
           pv[i, j] = (q * pv[i, j +1]+
                       (1- q) * pv[i +1 , j + 1]) *df
   return pv[0,0]

In [45]:
%time round(binomial_py(100), 3)

CPU times: user 3.78 s, sys: 153 ms, total: 3.94 s
Wall time: 4.06 s

178.651